 .container {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 50%;
}
 .cont-top {
     position: relative;
     width: 100%;
     top: 0;
     transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
     user-select: none;
     border-style: solid;
     border-color: #ffffffff;
     border-width: 2px !important;
     border-bottom-width: 0px;
     border-left-width: 0px;
     border-right-width: 0px;
     background-color: #09090be6;
     padding: 1rem;
     border-radius: 0.4rem !important;
     border-bottom-right-radius: 0rem;
     border-bottom-left-radius: 0rem;
     margin-bottom: 0.8rem;
}
 .cont-bottom {
     position: relative;
     width: 100%;
     top: 0;
     border-style: solid;
     border-color: #ffffffff;
     border-width: 2px !important;
     border-bottom-width: 0px;
     border-left-width: 0px;
     border-right-width: 0px;
     background-color: #09090be6;
     padding: 1rem;
     border-radius: 0.4rem !important;
     border-bottom-right-radius: 0rem;
     border-bottom-left-radius: 0rem;
}
 .creds-cont {
     position: fixed;
     bottom: 0;
     border-style: solid;
     border-color: #ffffffff;
     border-width: 2px !important;
     border-bottom-width: 0px;
     border-left-width: 0px;
     border-right-width: 0px;
     background-color: #09090be6;
     padding: 2px;
     padding-top: 0;
     padding-bottom: 0;
     margin-bottom: 2px;
     border-radius: 0.4rem !important;
     border-bottom-right-radius: 0rem;
     border-bottom-left-radius: 0rem;
}
 .creds-cont p {
     margin: 0;
}
 .creds-cont a {
     text-decoration: none;
}
 #codecontleft img {
     display: block;
     margin: 0 auto;
     left: 50%;
    /* Change this as needed */
}
 #codecontright {
     position: fixed;
     width: 5%;
     height: 50%;
     left: 80%;
     top: 25%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border-style: solid;
     border-color: #ffffffff;
     border-width: 2px !important;
     border-bottom-width: 0px;
     border-left-width: 0px;
     border-right-width: 0px;
     background-color: #09090be6;
     padding: 1rem;
     border-radius: 0.4rem !important;
     border-bottom-right-radius: 0rem;
     border-bottom-left-radius: 0rem;
}
 #codecontleft {
     position: fixed;
     width: 5%;
     height: 50%;
     left: 15%;
     top: 25%;
     border-style: solid;
     border-color: #ffffffff;
     border-width: 2px !important;
     border-bottom-width: 0px;
     border-left-width: 0px;
     border-right-width: 0px;
     background-color: #09090be6;
     padding: 1rem;
     border-radius: 0.4rem !important;
     border-bottom-right-radius: 0rem;
     border-bottom-left-radius: 0rem;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}
 #background-video {
     width: 100vw;
     height: 100vh;
     object-fit: cover;
     position: fixed;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     z-index: -1;
}
 h1, h2, h4 {
     color: white;
     font-family: Trebuchet MS;
     font-weight: bold;
     text-align: center;
}
 h2 {
     font-size: 2rem;
     margin-bottom: 0;
     color: white 
}
 h4 {
     position: relative;
     font-weight: normal;
     font-size: 1rem;
     color: white 
}
 .pfp {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100px;
     height: 100px;
     border-radius: 50%;
    /* make the container a circle */
     position: relative;
     left: 50%;
     transform: translate(-50%, -50%);
     margin-bottom: -3rem;
}
 .pfp img {
     border-radius: 50%;
     border: 2px solid white;
     width: 100%;
     height: auto;
}
 .cont-top:hover {
     background-color: #c6ff4d;
     box-shadow: 0 10px 2rem 0 rgba(166, 255, 0, 0.5);
     color: #333333;
}
 .cont-top:hover .text {
     color: #333333;
}
 body, html, #app {
     margin: 0;
     width: 100%;
     height: 100%;
}
 #app {
     overflow: hidden;
     touch-action: pan-up;
}
 #app canvas {
     display: block;
     position: fixed;
     z-index: -1;
     top: 0;
}
 #loading-term {
     position: fixed;
     z-index: 99999;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: black;
     color: white;
     font-family: 'Courier New', Courier, monospace;
     padding: 20px;
     box-sizing: border-box;
     overflow: auto;
}
 .cont-top-connections {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 1rem;
     padding: 1rem;
}
 .connection {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background-repeat: no-repeat;
     background-size: contain;
}
 .connection svg path {
     transition: fill 0.3s ease;
}
 #github:hover svg path {
     fill: #686767;
}
 #gitlab:hover svg path {
     fill: #fc6d26;
}
 #spotify:hover svg path {
     fill: #22E265;
}
 #amc:hover svg path {
     fill: #6bc3fe;
}
 #volumeMeter {
     height: 75%;
     background-color: #ddd;
     position: relative;
     appearance: slider-vertical;
     margin-top: 35%;
     display: block;
     width: 100%;
}
 #songPlayPause {
     color: white;
     cursor: pointer;
}
